$font-stack:Arial,Helvetica;
$primary-color:#FFFFFF;
$secondary-color:
$dark-color: black;

body{
    font: 100% $font-stack;
    color: $primary-color;
}

section{
    font: 50% $font-stack;
    color:aqua;
}

#p{
    color:$dark-color;
    a{
        font-weight: bold;
    }

}