{% extends "base.html" %}

{% block content %}
    {% if not form %}
<h3 class="text-center"> Мы поможем Вам узнать погоду в любом городе, куда Вы захотите переехать  </h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form class="login-form" method="post">
    <div class="from-group">
        <label for="city">Введите город: </label>
        <br><br>
        <input type="text" name="city" id="city" class="form-control">
        <br><br>
        <button type="submit" class="btn btn-primary">Узнать</button>
    </div>
</form>
{% else %}
<h1 class="text-center">Погода: город {{ form['city'] }}</h1>
<h2>Температура: {{ params['temper'] }}°С</h2>
<h2>Ощущается как: {{ params['feel'] }}°С</h2>
<h2>Давление: {{ params['press'] }} мм.рт.столба</h2>
<h2>Влажность: {{ params['humid'] }}%</h2>
{% endif %}
{% endblock %}